<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1 class="mat-headline">Log In</h1>

      <form class="example-form" [formGroup]="form" (submit)="onFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Organization contract ID</mat-label>
          <input matInput formControlName="orgAddr" type="text" placeholder="e.g. 0x0D8775F648430679A709E98d2b0Cb6250d2887EF">
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="saveOrgAddr">Save for next time</mat-checkbox><br /><br />

        <mat-form-field id="address-selector" class="example-full-width">
          <mat-select name="account" formControlName="publicKey" placeholder="Your wallet address">
            <mat-option *ngFor="let account of (accounts$ | async)" [value]="account">{{account}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit" style="float:right;" color="accent">
          Login
        </button>
        <div style="clear:both;"></div>
      </form>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <mat-divider class="or" [vertical]="dividerIsVertical$ | async"></mat-divider>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h1 class="mat-headline">Create</h1>
      <p>Create your organization on the Ethereum blockchain.</p>
      <a mat-raised-button color="accent" [routerLink]="['/create']">Create New</a>
    </div>
  </div>
</div>
